<%# <%= simple_form_for [@renegotiation, question], #LS changed as nested
      remote: true,
      html: {
        data: {
          turbo:            true,                         # make sure Turbo sees this
          controller:       "reset-form",
          action: "turbo:submit-end->reset-form#reset"
        }
      } do |f| %>
  <%# <div class="input-group mb-3 w-100">
    <div class="form-floating">
      <%= f.input :user_question, label: false, wrapper: false %>
      <%# <%= f.label :user_question, "Chat with our negotiator:" %>
    <%# </div>
    <%= f.submit "Send",
                 id:    "new-question-button",
                 class: "btn btn-primary" %>
  <%# </div>
<% end %>


<%= simple_form_for [@renegotiation, question],
      data: { turbo: true }
      html: {
        data: {
          turbo:      true,
          controller: "reset-form",
          action:     "turbo:submit-end->reset-form#reset"
        }
      } do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="input-group mb-3 w-100">
    <div class="form-floating">
      <%= f.input :user_question, label: false, wrapper: false %>
      <%= f.label :user_question, "Chat with our negotiator:" %>
    </div>
    <%= f.submit "Send",
                 id:    "new-question-button",
                 class: "btn btn-primary" %>
  </div>
<% end %>
