<!DOCTYPE html>
<html>
  <head>
    <title>Renegotiate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav class="flex space-x-4">
  <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %> |
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
</nav>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>

    <!-- Footer -->
    <footer class="footer">
      <ul class="footer__links">
        <li><a href="/about">Our Story</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      <div class="footer__copyright">
        &copy; <%= Time.current.year %> Your Company. All rights reserved.
      </div>
    </footer>
  </body>
</html>
